<ion-header class="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <div class="brand-text">
        <span class="title">Terrimeet</span>
        <span class="title2">ESPAM MFL</span>
      </div>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="notification-button">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="welcome-text">
    <h2>Hola Terrimeet</h2>
    <p>Bienvenido, disfruta de tus eventos favoritos</p>
  </div>
@for (evento of eventos; track evento.id) {
  <app-evento class="eventos-list" [evento]="evento"></app-evento>
}
<ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>