<!-- categorias.component.html -->
<div class="categorias-wrap" >
  <h3 class="categorias-titulo">CATEGORIAS</h3>

  <div class="categorias-scroll">
    @for (cat of categorias; track cat.id) {
      <div
        class="categoria-item"
        [class.active]="categoriaActiva === cat.descripcion"
        (click)="seleccionar(cat.descripcion, cat.id)">
        <div class="categoria-icono-wrap">
          <ion-icon [name]="getIcono(cat.descripcion)"></ion-icon>
        </div>
        <span class="categoria-nombre">{{ cat.descripcion }}</span>
      </div>
    }
  </div>
</div>